/*Initial base setup*/

body {
    margin :  0;
    background-color: #D741A7;
    display: table;
    width: 100%;
    height:100vh;

}

body > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* Actual Styles begin here */
.trigger {
    position: relative;
    background: #3A1772;
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    cursor: pointer;
}

.trigger span ,
.trigger span::before,
.trigger span::after {
    position: absolute;
    width: 44px;
    height: 4px;
    background: #F2CD5D;
    border-radius: 4px;
}

.trigger span {
    top :  calc(50% - 2px);
    left :  calc(50% - 22px);
    transition:  transform .4s;

}

.trigger span::before,
.trigger span::after {
    content: '';
    left : 0;
    transition :  transform .3s, width .3s, background-color 1s;
}

.trigger span::before {
    bottom: 12px;
}
.trigger:hover span  {
    transform : rotate(180deg);
    background-color: #5398BE;
    }

.trigger span::after {
    top:  12px;
}

.trigger:hover span::before{
    width: 50%;
    transform:  translateX(-2px) translateY(5px) rotate(-45deg);
    background-color: #5398BE;

}
.trigger:hover span::after{
    width: 50%;
    transform:  translateX(-2px) translateY(-5px) rotate(45deg);
    background-color: #5398BE;
 
} 